{% extends 'base.html.twig' %}

{% block body %}
    {% if stamps|length < 1 %}

        <h4 class="text-center p-5">Your news page is empty</h4>

    {% else %}
        <h4 class="text-center border-bottom border-gray pb-2 mb-0">Recent updates</h4>


        {% for stamp in stamps %}
            {{ include('feed/feedRaw.html.twig', { 'stamp': stamp}) }}
        {% endfor %}
    {% endif %}
{% endblock %}